.componentBody {
    background-color: dodgerblue;
    border-color: #EDE6E3;
    height: auto;
    border-radius: 15px;
}

.catalogContainer {
    background-color: grey;
    border-style: ridge;
    border-width: thick;
    border-color: #EDE6E3;
    border-radius: 15px;
}

.catalogContainer h2 {
    color: snow;
    margin-left: 20px;
}

.glossaryContainer {
  background-color: dodgerblue;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 200px);
  width: calc(100vw - 100px;);
  border-style: ridge;
  border-width: thick;
  border-color: #EDE6E3;
  overflow: auto;
  border-radius: 15px;
}

.selectionOptions {
    display: flex;
    height: 7vh;
    width: 98%;
    margin-bottom: 10px;

}

.addButton {
    margin-left: 20px;
}

.selectedButton {
    font-size:  14px;
    font-weight: bolder;
    background-color: #F06449;
    color: snow;
    margin: 5px;
    border-style: outset;
    border-color: #F06449;
    border-width: medium;
    border-radius: 15px;
    width: 15%;
    height: 100%;

}

.notSelectedButton {
    font-size: 14px;
    font-weight: bolder;
    margin: 5px;
    border-style: outset;
    border-width: medium;
    border-color: snow;
    border-radius: 15px;
    width: 15%;
    height: 100%;
}

.glossaryEntryView {
    display: flex;
    background-color: #EDE6E3;
    border-style: outset;
    border-width: thick;
    max-width: 99.5%;
    max-height: 337px;
    margin: 4px;
    margin-bottom: 16px;
    border-radius: 15px;
}

.optionsBar {
    display: flex;
    width: calc(100vw - 70px);
    height: 8vh;
    background-color: snow;
    align-items: center;
    justify-content: center;
    border-color: snow;
    border-style: outset;
    border-width: medium;
    border-radius: 15px;
    margin-bottom: 15px;
}

.optionsBar h3 {
    margin-left: 20px;
    font-weight: bolder;
    font-size: 100% 100%;
    flex: 1;
}

.descriptionContainer {
    height: 20vh;
}


.editButton {
}

.editButton:hover {
    background-color: dodgerblue;
}

.deleteButton {
    margin-left: 10px;
}

.deleteButton:hover {
    background-color: dodgerblue;
}