.componentBody {
    background-color: dodgerblue;
    border-color: #EDE6E3;
    height: auto;
}

.catalogContainer {
    background-color: grey;
    border-style: ridge;
    border-width: thick;
    border-color: #EDE6E3;
}

.catalogContainer h2 {
    color: snow;
    margin-left: 20px;
}

.glossaryContainer {
  background-color: dodgerblue;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: calc(100vh - 200px);
  width: calc(100vw - 100px;);
  border-style: ridge;
  border-width: thick;
  border-color: #EDE6E3;
  overflow: auto;
}

.selectedButton {
    font-weight: bolder;
    background-color: #F06449;
    color: snow;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;

}

.notSelectedButton {
    font-weight: bolder;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

.glossaryEntryView {
    display: flex;
    background-color: #EDE6E3;
    border-style: outset;
    border-width: thick;
    max-width: 99.5%;
    max-height: 337px;
    margin: 4px;
    margin-bottom: 16px;
    border-radius: 12px;
}

.optionsBar {
    display: flex;
    width: 99%;
    height: 5vh;
    background-color: snow;
    align-items: center;
    justify-content: left;
    line-height: normal;
    padding: 5px;
    border-radius: 12px;
}

.optionsBar h3 {
    margin-left: 20px;
    font-weight: bolder;
    font-size: 20px;
    flex: 1;
}

.descriptionContainer {
    height: 20vh;
}


.editButton {
}

.editButton:hover {
    background-color: dodgerblue;
}

.deleteButton {
    margin-left: 10px;
}

.deleteButton:hover {
    background-color: dodgerblue;
}