body {
    background-color: #F06449;
    font-family: Verdana, Geneva, sans-serif;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: white;
}