body {
    background-color: #F06449;
    font-family: Verdana, Geneva, sans-serif;
}

::-webkit-scrollbar {

    height: 12px;
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 5px;
}