.componentBody {
    background-color: dodgerblue;
    border-color: #EDE6E3;
    height: auto;
}

.catalogContainer {
    background-color: grey;
    border-style: ridge;
    border-width: thick;
    border-color: #EDE6E3;
}

.catalogContainer h2 {
    color: snow;
    margin-left: 20px;
}


.searchBar {
    margin: 15px;
    width: 60%;
    color: black;
}

.informationTypesContainer {
  background-color: dodgerblue;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: calc(100vh - 200px);
  width: calc(100vw - 100px;);
  border-style: ridge;
  border-width: thick;
  border-color: #EDE6E3;
  overflow: auto;
}

.informationTypeView {
    background-color: #EDE6E3;
    border-style: outset;
    border-width: thick;
    max-width: 99.5%;
    max-height: 337px;
    margin-top: 8px;
    margin-left: 8px;
    margin-bottom: 16px;
}

.informationTypeView p {
    font-weight: bolder;
    font-size: 20px;
    margin-left: 20px;
}

.CIARating{
    margin-left: 20px;
}

.informationCategoryTag {
    background-color:  #F06449;
    color: snow;
    font-size: 14px;
    font-weight: bolder;
    border-radius: 6px;
    padding: 7px;
    margin: 10px;
}

.selectedButton {
    font-weight: bolder;
    background-color: #F06449;
    color: snow;

}

.notSelectedButton {
    font-weight: bolder;
}