.componentBody {
    border-color: #EDE6E3;
    height: auto;
    border-radius: 15px;
}

.catalogContainer {
    display: flex;
    align-items: center;
    background-color: grey;
    border-style: outset;
    border-width: thick;
    border-color: #EDE6E3;
    border-radius: 15px;
    margin-bottom: 5px;
}

.catalogContainer h2 {
    color: snow;
    margin-left: 20px;
}


.searchBar {
    margin: 15px;
    width: 90%;
    color: black;
}

.addButton {
    margin-left: 40px;
}

.addButton:hover {
    background-color: lightgreen;
    border-radius: 15px;
}

.informationTypesContainer {
  background-color: dodgerblue;
  display: flex;
  flex-direction: column;
  height: calc(var(--vh, 1vh) * 85);
  border-style: outset;
  border-width: thick;
  border-color: #EDE6E3;
  overflow: auto;
  padding-left: 8px;
  padding-top: 8px;
  border-radius: 15px;
}

.informationTypeView {
    display: flex;
    flex-direction: column;
    background-color: #EDE6E3;
    border-style: outset;
    border-width: thick;
    width: 99%;
    height: auto;
    margin-bottom: 16px;
    border-radius: 15px;
}

.optionsBar {
    display: flex;
    width: 99.5%;
    height: calc(var(--vh, 1vh) * 7);
    background-color: snow;
    align-items: center;
    justify-content: center;
    border-color: snow;
    border-style: outset;
    border-width: thick;
    border-radius: 15px;
    margin-bottom: 12px;
}

.informationTypeInfo {
    display: flex;
    flex-direction: column;
    width: 93%;
    margin-left: 24px;
    margin-bottom: 12px;
}

.optionsBar h3 {
    margin-left: 20px;
    font-weight: bolder;
    font-size: 22px;
    flex: 1;
    font-family: Verdana, Geneva, sans-serif;
}

.informationTypeInfo p {
    font-size: 18px;
    font-family: Verdana, Geneva, sans-serif;
}

.nameInput {
    width: 90%;
    height: calc(var(--vh, 1vh) * 7);
    margin-left: 20px;
    font-size: 22px;
    font-weight: bolder;
    line-height: normal;
    background-color: transparent;
    outline: none;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
    -webkit-appearance: none;
    font-family: Verdana, Geneva, sans-serif;
}

.descriptionInput {
    font-size: 18px;
    background-color: transparent;
    outline: none;
    margin-top: 12px;
    margin-bottom: 20px;
    width: calc(var(--vh, 1vh) * 100);
    height: calc(var(--vh, 1vh) * 20);
    word-wrap: break-word;
    overflow: auto;
    border: none;
    overflow: auto;
    -webkit-appearance: none;
    font-family: Verdana, Geneva, sans-serif;
}

.informationTypeActions{
}

.editButton {
}

.editButton:hover {
    background-color: dodgerblue;
    border-radius: 15px;
}

.deleteButton {
    margin-left: 10px;
}

.deleteButton:hover {
    background-color: dodgerblue;
    border-radius: 15px;
}

.saveButton {

}

.saveButton:hover {
    background-color: lightgreen;
    border-radius: 15px;
}

.clearButton {
    position: relative;
    margin-left: 10px;
}

.clearButton:hover {
    background-color: dodgerblue;
    border-radius: 15px;
}

.mainInfo {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

}

.mainInfo p {
    font-size: 16px;
    width: calc(var(--vh, 1vh) * 80);
    height: calc(var(--vh, 1vh) * 20);
    word-wrap: break-word;
    overflow: auto;
}

.ciaTable {

    justify-content: right;
    display: table;
    background-color: black;
    color: snow;
    border-style: ridge;
    border-width: thick;
    border-color: lightgrey;
    margin-left: 20px;
    height: calc(var(--vh, 1vh) * 15);
    width: calc(var(--vw, 1vw) * 40);
    border-radius: 15px;
    font-size: 100%;
}

.ciaTable thead {
    display: table;
    table-layout: fixed;
    width: 100%;
    outline: none;
}

.ciaTable tbody {
    display: block;
    background-color: black;
    color: snow;
    width: 100%;
}

.ciaTable tbody tr {
  display: table;
  width: 100%;
  text-align: center;
  table-layout: fixed;
}

.informationCategories {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
}

.informationCategoryTag {
    background-color:  #F06449;
    color: snow;
    height: calc(var(--vh, 1vh) * 6);
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    border-radius: 6px;
}

.informationCategoryTagEdit {
    background-color:  #F06449;
    color: snow;
    height: calc(var(--vh, 1vh) * 6);
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    border-radius: 6px;
}

.ciaButton {
    margin-left: 5px;
}

.removeButtonContainer {
    display: flex;
    align-items: center;
}

.removeButton{
    background-color: red;
    margin-left: 10px;
    border-radius: 30px;
    opacity: 0.7;
}

.removeButton:hover {
    background-color: red;
    border-radius: 30px;
    opacity: 1;
}
