.componentBody {
  background-color: dodgerblue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: outset;
  border-width: thick;
  border-color: #EDE6E3;
  overflow: auto;
}

.informationTypeContainer {

}