.componentBody {

  background-color: #EDE6E3;

  border-width: thick;
  height: auto;
  margin: 2px;
  border-radius: 15px;
}

.optionsBar {
    display: flex;
    height: calc(var(--vh, 1vh) * 8);
    width: 99.5%;
    justify-content: left;
    align-items: center;
    background-color: snow;
    border-color: snow;

    border-width: thick;
    border-radius: 15px;
    margin-bottom: 15px;
}

.optionsBar h2 {
    margin-left: 20px;
    font-size: 26px;
    text-align: center;
    width: 90%;
}

.backButton {
    margin-left: 10px;
}

.backButton:hover {
    background-color: dodgerblue;
    border-radius: 15px;
}

.editButton {
}

.editButton:hover {
    background-color: dodgerblue;
    border-radius: 15px;
}

.deleteButton {
    margin-left: 10px;
    margin-right: 10px;
}

.deleteButton:hover {
    background-color: dodgerblue;
    border-radius: 15px;
}

.useCaseBody {

    display: flex;
}

.useCaseInfo {
  flex-direction: column;
  width: 55%;
}

.headerFormat {
    padding: 20px;
    overflow: auto;
}

.headerFormat p {

    margin-left: 30px;
    font-size: 18px;
}

.informationTypes {
    width: 100%;
}

.sourceInfo {
    font-weight: bolder;
    font-size: 16px;
    margin-left: 20px;
    align-items: center;
    height: calc(var(--vh, 1vh) * 4);
}

.informationTypesTitle {

    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(var(--vh, 1vh) * 6);
    margin-left: 20px;
    margin-bottom: 10px;
    background-color: snow;
    border-color: snow;

    border-width: thick;
    border-radius: 15px;

}

.informationTypes h3 {

    padding-left: 30px;
    font-size: 22px;
}

.informationTypeTable {

    display: table;
    background-color: black;
    color: snow;
    border-style: ridge;
    border-width: thick;
    border-color: lightgrey;
    margin-left: 20px;
    margin-bottom: 20px;
    height: calc(var(--vh, 1vh) * 45);
    border-radius: 15px;
    font-size: 100% 100%;
}

.informationTypeTable thead {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.informationTypeTable tbody {
    display: block;
    width: 100%;
    max-height: calc(var(--vh, 1vh) * 40);
    overflow: auto;
}

.informationTypeTable tbody tr {
  display: table;
  width: 100%;
  height: calc(var(--vh, 1vh) * 5);
  text-align: center;
  table-layout: fixed;
}

.useCaseTables {
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-right: 10px;
}

.attrTable {
    background-color: black;
    color: snow;
    display: table;
    border-style: ridge;
    border-width: thick;
    border-color: lightgrey;
    height: calc(var(--vh, 1vh) * 25);
    width: calc(var(--vw, 1vw) * 20);
    margin-left: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    font-size: 100%;

}

.attrTable thead {

}

.attrTable tbody {
    display: block;
    color: snow;
    width : 100%;
    max-height: calc(var(--vh, 1vh) * 16);
    overflow: auto;
}
.attrTable tbody tr {

  display: table;
  width: 100%;
  height: calc(var(--vh, 1vh) * 5);
  text-align: center;
  table-layout: fixed;
}

.noDataIndication {
    justify-content: center;
}

.cia_table{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.cia_table div{
    flex: 1;
    border: solid, white;
    width: 30%;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000
}

.cia_high{
    background-color: #ff9696;
}

.cia_medium{
    background-color: #ffff91;
}

.cia_low{
    background-color: #c6ff91;
}