.componentBody {

  background-color: #EDE6E3;
  border-style: outset;
  border-width: thick;
  height: auto;
  margin: 2px;
  border-radius: 15px;
}

.optionsBar {
    display: flex;
    height: calc(var(--vh, 1vh) * 8);
    width: 99.5%;
    justify-content: left;
    align-items: center;
    background-color: snow;
    border-color: snow;
    border-style: outset;
    border-width: thick;
    border-radius: 15px;
    margin-bottom: 15px;
}

.backButton {
    margin-left: 10px;
}

.backButton:hover {
    background-color: dodgerblue;
    border-radius: 15px;
}

.saveButton {

}

.saveButton:hover {
    background-color: lightgreen;
    border-radius: 15px;
}

.clearButton {
    margin-left: 10px;
    margin-right: 10px;
}

.clearButton:hover {
    background-color: dodgerblue;
    border-radius: 15px;
}

.addButton {

}

.addButton:hover {
    background-color: snow;
    border-radius: 6px;
}

.useCaseBody {

    display: flex;
}

.useCaseInfo {
  flex-direction: column;
  width: 55%;
}

.headerFormat {
    overflow: auto;
    margin-top: 16px;
}

.nameInput {
    font-weight: bolder;
    width: 90%;
    line-height: normal;
    text-align: center;
    background-color: transparent;
    outline: none;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
    -webkit-appearance: none;
    margin-left: 10px;
    font-size: 26px;
    font-family: Verdana, Geneva, sans-serif;
}

.descriptionInput {
    margin-left: 30px;
    font-size: 18px;
    height: calc(var(--vh, 1vh) * 42);
    width: calc(var(--vw, 1vw) * 50);
    line-height: normal;
    background-color: transparent;
    outline: none;
    border: none;
    overflowWrap: "break-word";
    overflow: auto;
    -webkit-appearance: none;
    font-family: Verdana, Geneva, sans-serif;
}

.informationTypes {
    width: 100%;
}

.sourceTitle {
    font-weight: bolder;
    font-size: 16px;
    margin-left: 30px;
}


.sourceContainer {
    display: flex;
    align-items: center;
    height: calc(var(--vh, 1vh) * 4);
    margin-bottom: 18px;
}

.sourceInput {
    width: 90%;
    font-size: 16px;
    background-color: transparent;
    outline: none;
    text-align: center;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
    -webkit-appearance: none;
    font-family: Verdana, Geneva, sans-serif;
}

.informationTypesTitle {

    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(var(--vh, 1vh) * 6);
    margin-left: 20px;
    margin-bottom: 5px;
    background-color: snow;
    border-color: snow;
    border-style: outset;
    border-width: thick;
    border-radius: 15px;

}

.informationTypes h3 {

    padding-left: 30px;
    font-size: 22px;
}

.informationTypeTable {

    display: table;
    background-color: black;
    color: snow;
    border-style: ridge;
    border-width: thick;
    border-color: lightgrey;
    margin-left: 20px;
    margin-bottom: 20px;
    height: calc(var(--vh, 1vh) * 45);
    border-radius: 15px;
    font-size: 100% 100%;
}

.informationTypeTable thead {
     display: table;
     width: 100%;
     table-layout: fixed;
}

.informationTypeTable tbody {
    display: block;
    width: 100%;
    max-height: calc(var(--vh, 1vh) * 40);
    overflow: auto;
}

.informationTypeTable tbody tr {
  display: table;
  width: 100%;
  height: calc(var(--vh, 1vh) * 5);
  text-align: center;
  table-layout: fixed;
}

.useCaseTables {
    width: 45%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 10px;
}

.attrTable {
    color: snow;
    background-color: black;
    border-style: ridge;
    border-width: thick;
    border-color: lightgrey;
    height: calc(var(--vh, 1vh) * 25);
    width: calc(var(--vw, 1vw) * 20);
    margin-left: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
    font-size: 100%;
}

.attrTable thead {
     display: table;
     table-layout: fixed;
}

.attrTable tbody {
    display: block;
    color: snow;
    width: 100%;
    max-height: calc(var(--vh, 1vh) * 16);
    overflow: auto;
}

.attrTable tbody tr {

  display: table;
  width: 100%;
  height: calc(var(--vh, 1vh) * 5);
  text-align: center;
  table-layout: fixed;
}

.noDataIndication {

    justify-content: center;
}

.addModal {

    background-color: snow;
    width: 100%;
}

.addSearchBar {
    color: black;
    width: 100%;
}