/* RGB */
:root{
    --color1: rgba(124, 141, 152, 1);
    --color2: rgba(49, 73, 50, 1);
    --color3: rgba(18, 133, 137, 1);
    --color4: rgba(112, 210, 235, 1);
    --color5: rgba(3, 90, 133, 1);
}

body{
    background-color: var(--color1);
    align: center;

}

.flex-container {
  padding: 4px;

  background-color: var(--color4);

  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  background: var(--color5);
  border-radius: 25px;
  padding: 10px;
  margin: 4px;
}

div#logo{
  margin-left: auto;
  margin-right: auto;
    align: center;
    justify-content: center;
    text-align: center;
    background-color: var(--color4);
    border-radius: 15px;
    width: 65%;
}

div#logo img{
    width: 40%;
}

div#logo h1{
    font-size: xx-large;
}

div#search{
    width: 95%;
    padding: 10px;
    text-align: center;

}

div#search input{
    padding: 4px;
    width: 50%;
    border-radius: 15px;
}