.titleBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-height: 5%;
  background-image: none;
  background-color: snow;
  border-style: outset;
  border-width: thick;
  border-color: #EDE6E3;
}

.titleBar h2 {
    font-size: 40px;
    line-height: 5%;
    color: #36382E;
    margin-left: 20px;
    font-weight: bolder;

}

.Logo {
    width: 75px;
    height: 75px;
    margin-left: 20px;
    padding: 5px;
}

.Link {
  color: #36382E;
  font-size: 20px;
  font-weight: bolder;
  margin-left: 30px;
  opacity: 0.75;
  text-decoration: none;
}

.Link:hover {
    opacity: 1;
}