<div class="use_case flex-item">
    <div id="use_case_name">
        <h1>Use Case Name: {{use_case['usecase_name']}}</h1>
    </div>

    <div id="description">{{use_case['description']}}</div>

    {% for i in ( 'actors', 'organizations', 'technologies', 'discipline', 'locations', 'activities', 'information_types' ) %}
        <div id="{{i}}" class="flex-item">
            <h2>{{i}}</h2>
            <ul>
                {% for k in use_case[i] %}
                    <li>{{k}}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}

</div>